layout {
  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      children
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
  }
  tab name="1 - Dotfiles" cwd="$HOME/dotfiles" {
    pane command="nvim"
  }
  tab name="2 - Neovim" cwd="$HOME/.config/nvim" {
    pane command="nvim"
  }
  tab name="3 - Private dotfiles" cwd="$HOME/dotfiles-private" {
    pane command="nvim"
  }
  tab name="4 - Processes" {
    pane command="btop"
  }
}
