*.log
*.bak
.gitconfig
.ssh

.config/zsh/zhistory
.config/zsh/zcompdump
.config/zsh/.zcompdump
.config/gtk-3.0/bookmarks
.config/cava/shaders
.config/calibre/dynamic.pickle.json
.config/calibre/global.py.json
.config/calibre/gui.json
.config/calibre/viewer-webengine.json
.config/calibre/viewer
